# Maven
target/
*.class
# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
# IntelliJ
.idea/
*.iml
# Eclipse
.settings/
.project
.classpath
# VS Code
.vscode/
# OS
.DS_Store
Thumbs.db
# Logs
*.log
